
<script>
	  
		$.ajax({
    success:function(){
        //your stuff
       $("#modelname").datepicker({ dateFormat: "dd.mm.yy" });
     }
 });
  
			
</script>

<div class="panel callout radius">
<center><h1>Введите свои личные данные.</h1></center>

<%= render layout: 'form' do |f| %>

  	<center><h3><%= f.label :"Наименование организации" %></h3></center>
    <center><%= f.text_field :org %></center>
  
    <center><h3><%= f.label :"ФИО" %></h3></center>
    <center><%= f.text_field :name %></center>
  
    <center><h3><%= f.label :"Дата рождения" %></h3></center>
    
    <center><%= f.text_field :date_of_birth,:value => Time.now.strftime('%d.%m.%Y'),:id => "modelname" %></center>
    
    <center><h3><%= f.label :"Электронная почта" %></h3></center>
    <center><%= f.text_area :email, rows: 5 %></center>
  
<% end %>

</div>