<div class="panel callout radius">
<div class="field">
	<div class="panel callout radius">
    <center><h3><%= " 3.Лица подверженные риску" %></h3></center><br/>
    <center><p>Указываются должности (профессии), задействованные на данном рабочем месте/рабочем посту при соответствующих видах рабочих операций.</p></center>
    <div class="panel callout radius">
    <% @user.resps.each do |resp| %>
  		<p>
    		<strong>ФИО:</strong>
    		<%= resp.name %>
  		</p>
 
	<% end %>
	</div>
<div class="panel callout radius">     	
			<%= form_for([@user, @user.resps.build]) do |ff| %>
  				<p> <%= ff.text_field :name %> </p>
    			<%= ff.submit "Добавить респондента" %>
  			<% end %>
     	</div>
  </div>
  </div>
  <center><%= button_to "Далее", next_wizard_path, :class => "button", :method => :get  %></center>
  
  </div>
