<div class="panel callout radius">
<center><h1>I.Создание карточки оценки профессиональных рисков</h1></center>

<%= render layout: 'form' do |f| %>
  <div class="field">
   <center><h3> <%= f.label :"1:Должность / профессия" %></h3></center>
   <%= f.text_field :rabm %>
   <center><p>Вписывается оценщиком согласно штатного расписания предприятия (организации)</p></center>
  </div>
  <br>
  <div class="field">
    <center><h3><%= f.label :" 2:Описание рабочих действий и зоны выполнения работ" %></h3></center>
    <%= f.text_area :oprab %>
    <center><p>Перечислить по пунктам последовательность всех конкретных рабочих действий (операций) работника (-ов) и применяемого рабочего оборудования
    	, приспособлений и материалов при выполнении своих функциональных обязанностей на оцениваемом рабочем месте</p></center>
  </div>  
<% end %>
</div>


