<div class="panel callout radius">
<%= render layout: 'form' do |f| %>
  <div class="field">
    <center><h3><%= "4. Стандарты которые необходимо соблюдать" %></h3></center><br>
    <%= f.text_area :lstand %>
    <center>
    	<p>Перечисляются  Правила, ГОСТы, Нормы, Инструкции по охране здоровья
    		 и безопасности труда и по эксплуатации,  и т.п., обязательные для безопасного 
    		 выполнения работником (-ами) перечисленных рабочих действий (операций) в п.1.</p>
    </center>
  </div>
  <br>
  <div class="field">
    <center><h3><%= "5. Реальное состояние условий труда (выявленные нарушения требования стандартов)" %></h3></center><br>
    <%= f.text_area :realst %>
    <center><p>Указываются выявленные нарушения работником
(-ами) перечисленных стандартов с указанием конкретного источника опасности на рабочем месте 
(элементы машин, механизмов, конструкций оборудования; условия и организация работы и конкретного значения опасности),
 где определен данный фактор риска, в т.ч. имеющий превышение гигиенических нормативов условий труда (ПДУ, ПДК) 
 по результатам инструментального замера.</p></center>
  </div>
  
<% end %>

</div>
