<div class="panel callout radius">
<center><h3>6. Оценка вероятности и последствий рисков</h3></center>
<center><p>Производится оценка выявленных рисков с определением вероятности возникновения опасных событий и серьезности их последствий.</p></center>

<div class="row">
  <div class="medium-6 medium-push-6 columns">
  	<center><a href="#" data-reveal-id="myModal" class="radius button">Критерии определения вероятности риска&hellip;</a></center> 
<div id="myModal" class="reveal-modal" data-reveal>
	
	 
<div class="panel callout radius">
<div class="row">
  <div class="small-6 large-centered columns"><h3>Критерии определения вероятности риска</h3></div>
</div>
<br>
<div class="row" style="color:red;">
  <div class="large-1 columns"><strong>Очень вероятно</strong></div>
  <div class="large-10 large-offset-1 columns"><p>Событие, происходящее регулярно, более одного раза в течение рабочего дня (смены).</p></div>
</div>
<br>

<div class="row">
  <div class="large-1 columns" style="color:orange;"><strong>Вероятно</strong></div>
  <div class="large-10 large-offset-1 columns"><p>Событие, происходящее каждые 10 дней.</p></div>
</div>
<br>

<div class="row">
  <div class="large-1 columns" style="color:yellow;"><strong>Редко</strong></div>
  <div class="large-10 large-offset-1 columns"><p>Периодичность наблюдения события не более одного раза в 6 месяцев.</p></div>
</div>
<br>

<div class="row">
  <div class="large-1 columns" style="color:green;"><strong>Очень редко</strong></div>
  <div class="large-10 large-offset-1 columns"><p>Событие, происходящее на предприятии не менее 1 раза в год.</p></div>
</div>
<br>

<div class="row">
  <div class="large-1 columns" style="color: #66FFFF"><strong>Маловероятно</strong></div>
  <div class="large-10 large-offset-1 columns"><p>Событие, происходящее только при исключительном стечении обстоятельств. 
  	Опасность появляется менее 1 раза в пять лет.</p></div>
</div>
</div> 
	<a class="close-reveal-modal">&#215;</a>
	 </div>

  </div>
  
  <div class="row">
  <div class="medium-6 medium-push-6 columns">
  	<center><a href="#" data-reveal-id="myModal1" class="radius button">Критерии определения серьезности последствий риска&hellip;</a></center> 
<div id="myModal1" class="reveal-modal" data-reveal>
	
<div class="panel callout radius">
<div class="row">
  <div class="small-6 large-centered columns"><h3>Признаки серьезности последствий риска</h3></div>
</div>
<br>
<div class="row" style="color:red;">
  <div class="large-1 columns"><strong>Смертельно</strong></div>
  <div class="large-10 large-offset-1 columns"><p>Следствием опасности является смертельным несчастный случай или профессиональным 
  	заболеванием (по результатам анализа произошедших несчастных случаев).</p></div>
</div>
<br>

<div class="row">
  <div class="large-1 columns" style="color:orange;"><strong>Очень серьезные</strong></div>
  <div class="large-10 large-offset-1 columns"><p>Результатом несчастного случая возможна инвалидность или временная нетрудоспособность,
  	 превышающая 90 дней и более.</p></div>
</div>
<br>

<div class="row">
  <div class="large-1 columns" style="color:yellow;"><strong>Серьезные</strong></div>
  <div class="large-10 large-offset-1 columns"><p>Событие, при котором возможны значительные и длительные последствия.
  	 Предполагает обращение за медицинской помощью. Вызывает от 3 до 30 дней отсутствие на работе.</p></div>
</div>
<br>

<div class="row">
  <div class="large-1 columns" style="color:green;"><strong>Умеренные</strong></div>
  <div class="large-10 large-offset-1 columns"><p>Событие вызывает кратковременное заболевание или нарушение здоровья, 
  	которое не предполагает обращение за медицинской помощью. Возможно отсутствие на работе не более трех дней.</p></div>
</div>
<br>

<div class="row">
  <div class="large-1 columns" style="color: #66FFFF"><strong>Легкие</strong></div>
  <div class="large-10 large-offset-1 columns"><p>Травм и профессиональных заболеваний 
  	не предполагается. Нет необходимости обращения за первой доврачебной помощью.</p></div>
</div>
</div> 
	<a class="close-reveal-modal">&#215;</a>
	 </div>

  </div>
</div>
</div>


<%= form_for :riskizations, :url => {:action => 'update_rzs'} do %>
	<center><table border="1">
		<tr>
		<th>№</th>
		<th>Наименование риска</th>
		<th> Вероятность </th>
		<th>Последствия</th>
		</tr>
		<% i=0%>
			<% @user.riskizations.each do |riskization| %>
			<%= fields_for "riskization[]", riskization do |riskization_fields| %>
			<tr>
				<% i=i+1%>
				<td><%= i %></td>

				<% @u = @user.risks.find(riskization.risk_id) %>
    			<td><%= @u.risk %></td>

				<td><%= riskization_fields.select(:rver,[["Маловероятно",1],["Очень редко",2],["Редко",3],["Вероятно",4],["Очень вероятно",5]]) %></td>
				<td><%= riskization_fields.select(:rposl,[["Легкие",1],["Умеренные",2],["Серьезные",3],["Очень серьезные",4],["Смертельно",5]]) %></td>
				<% session[:st] = 1 %> 
				
			</tr>
			<% end %>
			<% end %>
	</table></center>
	<center><%= submit_tag 'Далее' , :class => "button"%></center>
<% end %>





