<div class="panel callout radius">
<center><h1>I.Создание карточки оценки профессиональных рисков</h1></center>

<%= render layout: 'form' do |f| %>
  <div class="field">
   <center><h3> <%= "1. Должность / профессия" %></h3></center>
   <%= f.text_field :rabm %>
   <center><p>Оценщиком вписывается наименование должности/профессии согласно штатного расписания предприятия (организации), для которой будет проведена оценка профессиональных рисков.</p></center>
  </div>
  <br>
  <div class="field">
    <center><h3><%=" 2. Описание рабочих действий и зоны выполнения работ" %></h3></center>
    <%= f.text_area :oprab %>
    <center><p>Оценщиком перечисляется последовательность всех конкретных рабочих действий (операций) работника (-ов) и применяемого рабочего оборудования
    	, приспособлений и материалов при выполнении своих функциональных обязанностей на оцениваемом рабочем месте</p></center>
  </div>  
<% end %>
</div>


