

<% if @user.errors.any? %>
  <div class="error_messages">
    <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>
    <ul>
    <% @user.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>


<div class="panel callout radius">

<center><h3>7. Мероприятия по предотвращению рисков</h3></center>
<center>
	<p> Оценщиком вписываются четкие и конкретные мероприятия для ликвидации выявленных 
	повышенных рисков или их уменьшения (приобретение, установка, изготовление, регулировка, строительство и т.п.) 
	</p>
	
</center>
<%= form_for :riskizations, :url => {:action => 'update_rzs'} do %>
<center><table>
		<tr>
		<th>№</th>
		<th>Наименование риска</th>
		<th>Меры предупреждения для уменьшения/устранения выявленных рисков</th>
		</tr>
		<% i=0%>
			<% @user.riskizations.each do |riskization| %>
			<%= fields_for "riskization[]", riskization do |riskization_fields| %>
			<tr>
				<td><%= i=i+1 %></td>
				<% @u = @user.risks.find(riskization.risk_id) %>
    			<td><%= @u.risk %></td>
    			
    		    <%
    		    ind1 = riskization.rver.to_i + riskization.rposl.to_i
    	    	case ind1
				   when 1 .. 3 %>
    					<td> <%= riskization_fields.text_area :mpred , :cols => 40, :rows => 40, :value => "Риск мал и управляем. Специальные меры предупреждения не требуются."%> </td>
				<% when 4 .. 5 %>
	    				<td> <%= riskization_fields.text_area :mpred , :cols => 40, :rows => 40,:value => "Специальные меры предупреждения не требуются. Риск нужно контролировать."%> </td>
				<% else %>
    					 <td> <%= riskization_fields.text_area :mpred, :cols => 40, :rows => 40 %> </td> 
    			<% end %>	
    	 						
				<% session[:st] = 2 %>
			</tr>
			<% end %>
			<% end %>
	</table></center>
	<center><%= submit_tag 'Завершить', :class => "button" %></center>
	
<% end %>

</div>





