<div class="row"> 
	<center><h3>Карточка</h3></center>
	<center>
	 	по оценке профессиональных рисков
	</center>
	
	<br><br>
	
<p>
  <strong>Дата : </strong>
  <%=  Date.today %>
</p>

<div class="panel">
	    <div>
        	<strong>Рабочее место:</strong>
        </div>
      <div>	
       	<%= @user.rabm%>
      </div> 
	 <br>
  	 <div>
       <strong>Описание рабочих действий и зоны выполнения работ:</strong>
     </div>   
     
      <div>	
       	<%= @user.oprab %><br>
      </div>	
  <br>
   <div>
        <strong>	Лица подвергающиеся риску: </strong><br>
				<% @user.resps.each do |resp| %>
    				<%= resp.name %>, 
    			<% end %>
    </div>    
    <br> 
		<div>
        	<strong>Список соблюдаемых стандартов</strong><br>
       	
       	<%= @user.lstand %>
      </div>
      
    <br>
					
 	   <div>
        	<strong>Реальное состояние условий труда (выявленные нарушения требований стандартов)</strong>
        </div>	
       	<div><%= @user.realst %></div>
      
</div>
 
 
<div class="panel"> 
  <center><strong>Оценка профессиональных рисков:</strong></center><br>
  	<table>
  	 <thead>
		<tr>
		<th><center>Наименование риска</center></th>
		<th><center>Вероятность риска</center></th>
		<th><center>Последствия риска</center></th>
		<th><center>Уровень риска</center></th>
		<th><center>Меры предупреждения для уменьшения / устрашения выявленных рисков</center></th>
		</tr>
	</thead>	
		<%s = ""%>
		<%s1 = ""%>
		<%s2 = ""%>
		<%s3 = ""%>
	<tbody>	
    <% for rc in @user.riskizations %>
    	<% @u = @user.risks.find(rc.risk_id) %>
    	<td><%= @u.risk %></td>
    	<% 
    	  ind = rc.rver.to_i + rc.rposl.to_i
    		    
    	    case ind
				when 1 .. 3
    				s =	"Незначительный риск"
				when 4 .. 5
    				s = "Приемлемый риск"
				when 6 .. 7
    				s = "Терпимый риск"
				when 8 .. 9
    				s = "Значительный риск"
				else
    				s = "Недопустимый риск"
			end	
    	 %>
    	 <% 
    	  ind1 = rc.rver.to_i 
    		    
    	    case ind1
				when 1
    				s1 = "Маловероятно"
				when 2
    				s1 = "Очень редко"
				when 3
    				s1 = "Редко"
				when 4
    				s1 = "Вероятно"
				else
    				s1 = "Очень вероятно"
			end	
    	 %>
    	 <% 
    	  ind2 = rc.rposl.to_i 
    		    
    	    case ind2
				when 1
    				s2 = "Легкие"
				when 2
    				s2 = "Умеренные"
				when 3
    				s2 = "Серьезные"
				when 4
    				s2 = "Очень серьезные"
				else
    				s2 = "Смертельно"
			end	
    	 %>
    	 <td><center><%= s1 %></center></td>
    	 <td><center><%= s2 %></center></td>
    	 <td><center><%= s %></center></td>
    	 <td><center><%= rc.mpred %></center></td>
    	</tr>
	  <% end %>
	  </tbody>
 	</table>
 </div>	
 
 <div>
        <strong>	Оценку выполнил : </strong><br>
				<% @user.resps.each do |resp| %>
    				<%= resp.name %>   ____________________________
    				<br> 
    			<% end %>
    </div>
 
</div>